<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQqgeAG4-pMysE8gn70vU0WNW3Qvi4Gck</string>
	<key>GCM_SENDER_ID</key>
	<string>863136962538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.identifly</string>
	<key>PROJECT_ID</key>
	<string>identifly-9bcb6</string>
	<key>STORAGE_BUCKET</key>
	<string>identifly-9bcb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863136962538:ios:4447776a02f1cd8c53c493</string>
</dict>
</plist>